# Outputs of the program`
__pycache__
test
output

# Private-Files
.env

# Intermediate generations
resume_int.json
experiences2.json
chatgpt_selenium_automation

# API Generations
remote-profile
conversations

# Web Researcher
Research_GPT

# Testing
.tox
personal
private
job-descriptions

# Voyager Testing
web_voyager
company_research.txt
info.json
mark_page.js