# Outputs of the program`
__pycache__
test
output

# Private-Files
.env

# Intermediate generations
resume_int.json
experiences2.json
chatgpt_selenium_automation

# API Generations
remote-profile
conversations

# Testing
.tox
personal